.upcoming-movies {
  position: relative;
  height: auto;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--primary-black);
}
.upcoming-movies .upcoming-movies_container {
  width: 1170px;
  margin: 0 auto;
}
.upcoming-movies-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.upcoming-movies-header-section h1 {
  font-size: var(--movies-section-header);
  letter-spacing: var(--negative-letter-spacing);
  color: var(--primary-white);
  font-weight: 600;
}
.upcoming-movies-header-section a {
  text-decoration: none;
  color: var(--smokewhite);
  font-size: var(--semi-small-font-size);
  font-weight: 600;
  transition: 0.2s;
}
.upcoming-movies-header-section a:hover {
  color: var(--semi-White);
}
.upcoming-movies_movie {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.upcoming-movies_movie > * {
  /* margin: 1rem; */
}
